@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f8f9fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(228, 0%, 30%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.body-margin {
  @apply  xl:mx-64 lg:mx-32 md:mx-20 sm:mx-10 mx-5;
}

.link {
  color: #2ec4b6;
}

.nav {
  color: hsl(228, 20%, 85%);
  background-color: hsl(228, 20%, 10%);
}

.nav-collapsed {
  opacity: 0;
  transform: translateX(-150%);
  @apply transition duration-500 ease-in-out;
}

.nav-show {
  opacity: 1;
  transform: translateX(0%);
  @apply transition duration-500 ease-in-out;
}

.jumbotron {
  background-image: url('https://raw.githubusercontent.com/Ikennaf1/staticrepo/master/imgs/jumbo-bg.jpg');
}

.cta h2 {
  @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-white font-black lg:font-bold drop-shadow-lg;
}

.cta p {
  @apply text-base md:text-lg lg:text-xl xl:text-2xl text-gray-300 drop-shadow-sm;
}

.main {
  @apply pt-32;
}

.article-left-margin {
  flex: 1;
}

.topic-list-main {
  @apply fixed border-r bg-transparent hidden md:block md:w-28 lg:w-36 pr-3;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.topic-list-items-main {
  @apply text-sm mt-1 ease-linear duration-75 inline-block;
}

.topic-list-main li{
  @apply mt-3;
}

.topic-list-items-main:hover {
  @apply link;
}

#topic_list_main a.active {
  @apply font-bold pl-2;
  border-left: 3px solid #2ec4b6;
}

.topic-list-items-collapsible {
  @apply text-sm mt-1 py-3 ease-linear duration-75 block;
}

#topic_list_collapsible li {
  @apply mt-1;
}

#topic_list_collapsible a.active {
  background-color: rgba(0, 0, 0, 0.15);
  @apply font-bold pl-2 link rounded;
}

.article {
  flex: 3;
}

.article h3 {
  @apply mt-5 mb-3 text-xl font-bold;
}

.article-right-margin {
  flex: 1;
}

.aside {
  @apply fixed bg-transparent pl-1 hidden sm:block sm:w-20 sm:right-20 md:w-28 md:right-20 lg:w-36 lg:right-32 xl:w-36 xl:right-64;
}

.footer {
  background-color: hsl(228, 20%, 96%);
}

.section-one-items {
  min-width: 0px;
  flex: 1;
  text-align: center;
  @apply bg-white p-8 shadow-md border-none rounded-md mt-8 sm:mt-0;
}

.section-two-items {
  min-width: 0px;
  flex: 1;
  @apply mt-8 sm:mt-0;
}

.section-three-items {
  min-width: 0px;
  flex: 1;
  @apply mt-8 sm:mt-0 p-8 rounded-md shadow-md;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  /* font-size: 12px; */
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 00px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
  @apply text-xs;
}

blockquote.twitter-tweet p {
  /* font-size: 16px; */
  font-weight: normal;
  line-height: 20px;
  @apply text-xs;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
